<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='alienLogo.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='alienLogo.png') }}" class="icon"   />
  <h3>I'm Here to help you anything.</h3>
  <form action="/" method="post">
    <input type="text" name="user_value" placeholder="Enter Text: " required />
    <input type="submit" value="Generate Response" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
